<div>
    <h1 id="title-welcome">Bienvenido a mi tienda</h1>
</div>


<div id="productos">
    <ul id="lista-productos"></ul>
</div>




<script src="/socket.io/socket.io.js"></script>
<script src="./js/index.js"></script>