<div>
    <h1 id="title-welcome">Bienvenido a mi tienda en tiempo real</h1>
</div>

<div id="productos-treal">
    <ul id="lista-productos-treal"></ul>
</div>

<div>
    <h2>Agregar Producto</h2>
    <div id="formulario-add">
        <input type="text" id="add-title" placeholder="Titulo">
        <input type="text" id="add-code" placeholder="Código">
        <input type="number" id="add-price" placeholder="Precio">
        <input type="boolean" id="add-status" placeholder="Estado">
        <input type="number" id="add-stock" placeholder="Stock">
        <input type="text" id="add-category" placeholder="Categoria">
        <input type="text" id="add-thumbnail" placeholder="Thumbnail">
        <button id="add-product">Agregar</button>
    </div>
</div>


<div>
    <h2>Actualizar Producto</h2>
    <select name="product" id="update-select"></select>
    <div id="update-prod-items"></div>
    <input type="text" id="u-title">
    <input type="text" id="u-code">
    <input type="text" id="u-price">
    <input type="text" id="u-status">
    <input type="text" id="u-stock">
    <input type="text" id="u-category">
    <button id="update-product">Actualizar</button>
</div>

<div>
    <h2>Eliminar Producto</h2>
    <select name="product" id="delete-select"></select>
    <button id="delete-product" >Eliminar</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="./js/realTimeProducts.js"></script>